h1 {
    text-align: center;
}

.section {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #ccd0de;
}

code {
    background-color: #ccd0de;
    padding: 0.2rem;
    border-radius: 0.2rem;

}

blockquote p {
    font-style: italic;
    font-size: 1.3rem;
    color: #29627e;
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

.poem {
    width: 30%;
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.fa-solid {
    padding: 0.5rem;
    font-size: 1.2rem;

}

.forecast>h1,
.day-forecast {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    /* background-color: white; */
}

.day-forecast {
    background: white;

}

.day-forecast>h2,
.day-forecast>p {
    margin: 0.2rem;
    font-size: 1rem;
}

aside {
    width: 30%;
    margin: 1rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #3b3f42;
    font-style: italic;
    color: #29627e;
}

aside>p {
    margin: 0.5rem;
}

.btn {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #29627e;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/* #button-background {
    background-color: white;
} */

.background {
    background-color: white;
}

#canvas {
    border: 1px solid black;
    width: 100%;
    background: #29627e;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
}